numpy==1.14.2
torch==1.0.0
pandas==0.22.0
opencv_python==4.2.0.32
scikit_image==0.13.1
matplotlib==2.2.2
dlib==19.16.0
mtcnn==0.0.6
torchvision==0.2.1
visdom==0.1.7
pillow>=6.2.0
skimage==0.15.0
scikit_learn==0.20.3
